body {
  background: #ffffff;
  overflow: hidden;
  font-size: 40px;
}
input, button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none;
}

.login_content {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  min-width: 320px;
  max-width: 600px;
  overflow: hidden;
  form{
    dd {
      height: 50px;
      margin: 20px 0 0 0;
      padding-left: 46px;
      font-size: 14px;
      color: #bababa;
      border-bottom: 1px solid #f0f0f0;
    }
    .dd_reg{
      margin-left: 0;
      padding-left: 0;
    }
    .sub.zc {
      margin-top: 40px;
      background: #009aff;
      color: #fff;
    }
    .sub {
      width: 100%;
      height: 50px;
      line-height: 50px;
      border-radius: 25px;
      margin: 10px 0;
      font-size: 18px;
    }
    .phone {
      background: url(../../images/login_name.png) left center no-repeat;
      background-size: 30px 34px;
    }
    .password {
      background: url(../../images/login_pwd.png) left center no-repeat;
      background-size: 30px 34px;
    }
    .inputt {
      width: 100%;
      height: 50px;
      font-size: 20px;
      color: #bababa;
    }
    .inputp {
      height: 50px;
      font-size: 20px;
      color: #bababa;
    }
    span{
      font-size: 20px;
      color: #333333;
    }
    .read {
      margin-top: 20px;
      font-size: 16px;
      text-align: left;
      padding-left: 0;
      color: #bababa;
      border-bottom: none;
      a {
        color: #009aff;
        text-decoration: none;
        outline: none;
      }
      #forget_btn {
        float: right;
      }
      .return {
        float: right;
      }
    }
  }
  .err-msg {
    color: #f00;
    font-size: 12px;
    text-align: left;
    height: 20px;
  }
  .logo {
    margin-top: 20px;
    img {
      width: 40%;
      border: none;
      max-height: 100%;
      vertical-align: middle;
    }
  }
  .login_content form {
    padding: 0 15px;
    overflow: hidden;
    margin-top: 15px;
  }
}
.tc {
  text-align: center;
}