#server{
position: relative;
  #content{
    .openService{
      margin: 0 0 100px 0;
      width: 100%;
      background-color: #ffffff;
      .service_content{
        margin: 0 15px;
        .service_type{
          height: 60px;
          line-height: 60px;
          font-size: 24px;
          span{
            display: inline-block;
            margin-right: 50px;
            height: 60px;
            width: 120px;
            text-align: center;
            cursor: pointer;
          }
          .on{
            border-bottom: 5px solid #38b1fd;
            color: #38b1fd;
          }
        }
        .service_title{
          margin: 30px 0 0 0;
          height: 45px;
          line-height: 45px;
          font-size: 14px;
          background-color: #f2f2f2;
          color: #7c7c7c;
          span{
            display: inline-block;
            width: 210px;
            text-align: center;
          }
          span:first-child{
            width: 80px;
          }
        }
        .service_info_list{
          margin: 0 30px;
          #open_service{
            .game_info{
              height: 118px;
              border-bottom: 1px dashed #eeeeee;
              a{
                text-decoration: none;
                color: #333333;
                .game_img{
                  margin-right: 25px;
                  width: 88px;
                  height: 88px;
                  img{
                    width: 100%;
                    border: 0;
                    vertical-align: middle;
                  }
                }
              }
              div{
                float: left;
                margin: 15px 0 0 0;
                font-size: 14px;
              }
              .time, .server, .gift, .operating{
                text-align: center;
                height: 88px;
                line-height: 88px;
              }
              .game_name{
                float: left;
                margin: 15px 0 0 0;
                font-size: 14px;
                span{
                  display: inline-block;
                }
                span:first-child{
                  margin: 15px 0 15px 0;
                  font-size: 18px;
                  width: 160px;
                  height: 25px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
                span:last-child{
                  font-size: 14px;
                  color: #7f7f7f;
                }
              }
              .time{
                width: 200px;
                color: #ff110e;
              }
              .server{
                width: 230px;
              }
              .gift a, .operating a{
                display: inline-block;
                width: 100px;
                text-align: center;
                height: 36px;
                line-height: 36px;
                border-radius: 8px;
                margin-top: 25px;
              }
              .gift{
                width: 210px;
                a{
                  border: 1px solid #fc8605;
                  color: #fc8605;
                }
              }
              .operating{
                float: left;
                margin: 15px 0 0 0;
                font-size: 14px;
                width: 193px;
                a{
                  border: 1px solid #38b1fd;
                  color: #38b1fd;
                }
              }
              .gift,.operating{
                text-align: center;
                height: 88px;
                line-height: 88px;
              }
            }
          }
        }
      }
    }
  }
}