body {
  background-color: #f4f5f7;
  margin: 0;
  padding: 0;
}
#bg_img{
  position: absolute;
  img{
    width: 100%;
  }
}
ul{
  margin: 0;
  padding: 0;
}
#content{
  width: 1200px;
  margin: 0 auto;
  position: relative;
  a{
    text-decoration: none;
  }
  .position{
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    a{
      color: #333333;
    }
  }
}
input, button {
  overflow: visible;
  vertical-align: middle;
  outline: none;
  border: 0;
}