<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="../../../pcStatic/images/favicon.ico">
    <title>游戏平台,游戏详情</title>
    <meta name="keywords" content="游戏中心,游戏,传奇世界,龙女传奇,雄霸传奇,口袋妖怪,手机页游助手">
    <meta name="description"
          content="游戏平台，提供传奇世界H5、决战沙城H5、烈火星辰H5、妖怪宝可萌H5等最热免费H5游戏在线玩，找不用下载手机网页游戏，独特手机页游助手微端4177游戏，让您解放微信窗口，畅享H5游戏生活。">
    <link rel="stylesheet" type="text/css" href="../../../pcStatic/css/bootstrap3.0.min.css">
    <link rel="stylesheet" href="../../../pcStatic/css/style.css?v=1.23">
    <link rel="stylesheet" href="../../../pcStatic/css/hui-reset.css">
    <link rel="stylesheet" href="../../../pcStatic/css/sign_in.css">
    <link rel="stylesheet" href="../../../pcStatic/css/xm_css/xm_css.css">
    <script type="text/javascript" src="../../../pcStatic/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../../pcStatic/js/jquery.qrcode.min.js"></script>
</head>
<body>
<!--头部-->
<div id="header">
    <div class="head_top">
        <div class="content">
            <ul>
                <li><a href="javascript:;" id="setting_homepage" title="4177游戏 - H5游戏平台"><img
                        src="../../../pcStatic/images/home_icon.png" alt="">设为首页</a></li>
                <li><a href="javascript:;" id="setting_favorite" title="4177游戏 - H5游戏平台"><img
                        src="../../../pcStatic/images/sc_icon.png" alt="">收藏</a></li>
                <li><a href="../../../follow"><img src="../../../pcStatic/images/hz_icon.png" alt="">游戏盒子</a></li>
            </ul>
            <div class="content_right">
                <span id="LoginStatus">
                    <a href="/pc/login/login.html">登录</a>
                    <span class="separator">&nbsp;|&nbsp;</span>
                    <a href="/pc/LoginAndRegist/login_regist.html">注册</a>
                </span>
                <i style="display: none" class="my_msg"></i>
                <span id="my_msg" style="display: none"><a href="/pc/user?t=msg" style="margin-right: 15px;"><img
                        src="../../../pcStatic/images/msg.png" alt="">我的消息</a></span>
                <span><a href="../../../pc/game_hub/game_hub.html"><img src="../../../pcStatic/images/yx_icon.png" alt="">所有游戏</a></span>
            </div>
        </div>
    </div>

    <div class="head_bottom">
        <div class="content">
            <div class="logo">
                <a href="/pc"><img src="../../../pcStatic/images/4177.png" alt="分享你的快乐"></a>
            </div>
            <div>
                <div class="yiji">
                    <div>
                        <a href="../../../pc/index.html" class="">首页</a>
                    </div>
                </div>
                <div class="yiji">
                    <a href="../../../pc/game_hub/game_hub.html" class="on">游戏中心</a>
                </div>
                <div class="yiji">
                    <a href="../../../pc/pay/recharge.html" class="">充值中心</a>
                </div>
                <div class="yiji">
                    <a href="../../../pc/server/index.html" class="">开服表</a>
                </div>
                <div class="yiji">
                    <div>
                        <a href="../../../pc/gift/index.html" class="">礼包</a>
                    </div>
                </div>
                <div class="yiji">
                    <div>
                        <a href="../../../pc/news_list/index.html" class="">资讯</a>
                    </div>
                </div>
                <div class="yiji" id="head_personal" style="display: none">
                    <a href="../../../pc/user/my_center.html" class="">个人中心</a>
                </div>
            </div>
            <div class="search">
                <input type="text" name="game_key" id="game_key" value="" placeholder=""/>
                <input type="hidden" id="gameKey" value=""/>
                <input type="button" class="" value="" onclick="game_search()">

            </div>
        </div>
    </div>

</div>
<div id="content">
    <div style="display: none;" id="page_name">game_details</div>
    <!--游戏详情-->
    <div id="gameDetail_img">

    </div>
    <div class="yx_detail">
        <div id="game_id">

        </div>
    </div>
    <div class="clear" style="clear: both;"></div>

    <!--游戏介绍-->
    <div class="game_introduction">
        <div id="game_text"></div>
    </div>
    <div class="clear" style="clear: both;"></div>
    <div class="middle_left">
        <!--热门推荐-->
        <div class="latest_service">
            <div class="class_title">
                <i></i>
                <span class="font_color"><span>热门推荐</span></span>
                <a href="/pc/game">更多&gt;&gt;</a>
            </div>
            <ul id="hot_recommend">

            </ul>
        </div>
    </div>

    <div class="middle_right">
        <div class="clear" style="clear: both;"></div>
        <!--游戏礼包-->
        <div class="game_package" id="gamePackage">
            <div class="class_title">
                <i></i>
                <span class="font_color"><span>游戏礼包</span></span>
            </div>
            <div id="game_package">

            </div>
        </div>
        <div class="clear" style="clear: both;"></div>

        <!--公告、活动、攻略-->
        <div class="announcement">
            <div class="announcement_top">
                <a class="on">公告</a>
                <a>活动</a>
                <a>攻略</a>
            </div>
            <div class="announcement_bottom">
                <div id="game_news">

                </div>
                <div class="load_more" id="game_news_more">
                    <a href="">点击加载更多&gt;&gt;</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clear" style="clear: both;"></div>


<script id="tp1" type="text/html">
    <a href="<%=sdata['serverdata'].game_play_url%>">
        <img src="<%=sdata['serverdata'].pc_banner%>" alt="广告图">
    </a>
</script>
<script id="tp2" type="text/html">
    <div class="detail" id="game_detail">
        <div class="yx_img"><img src="<%=sdata['serverdata'].logo%>" alt="logo"></div>
        <div class="yx_info"><span class="yx_name"></span>
            <div class="rq"><span><%=sdata['serverdata'].type_name%>&nbsp;|&nbsp;人气：</span><span><%=sdata['serverdata'].popularity%></span>
            </div>
            <div class="yx_btn"><a href="<%=sdata['serverdata'].game_play_url%>" target="_blank"
                                   onclick="game_click('sdata.id')"><input type="button" class="enter" value="进入游戏"></a>
                <a href="#gamePackage"><input type="button" class="receive" value="领取礼包"></a></div>
        </div>
        <div class="qr_code">
            <div id="qr_code" style="margin-top: 30px">
            </div>
            <div>扫一扫，直接玩</div>
        </div>
    </div>
</script>
<script id="tp3" type="text/html">
    <div class="class_title">
        <i></i>
        <span class="font_color"><span>游戏介绍</span></span>
    </div>
    <div class="js_content" id="game_intro"><%=sdata['serverdata'].intro%></div>
    <div class="js_img my_game_main swiper-free-mode swiper-container-horizontal swiper-container-free-mode"
         id="intro_img">
        <ul id="iPlayed" class="swiper-wrapper"
            style="padding-left: 0; padding-right: 0; width: 1900px; height: 368px; transform: translate3d(0px, 0px, 0px);">
            <li class="swiper-slide swiper-slide-prev"><img
                    src="<%=sdata['serverdata'].albums['0']%>" alt=""></li>
            <li class="swiper-slide swiper-slide-active"><img
                    src="<%=sdata['serverdata'].albums['1']%>" alt=""></li>
            <li class="swiper-slide swiper-slide-next"><img
                    src="<%=sdata['serverdata'].albums['2']%>" alt=""></li>
            <li class="swiper-slide"><img
                    src="<%=sdata['serverdata'].albums['3']%>" alt=""></li>
            <li class="swiper-slide"><img
                    src="<%=sdata['serverdata'].albums['4']%>" alt=""></li>
        </ul>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
</script>
<script id="tp4" type="text/html">
    <%for(var i=0; i < list.length; i++){%>
    <li class="yx"><a href="<%= list[i].game_detail_url%>">
        <div class="yx_img"><img src="<%= list[i].logo%>" alt=""></div>
        <div class="yx_info">
            <span><%= list[i].name%></span><br>
            <span class="fu"></span><br>
            <span class="sj"><%= list[i].created_at%></span>
        </div>
    </a>
        <div>
            <a href="/pc/info/10890"> </a>
            <a href="<%= list[i].game_play_url%>" target="_blank"
               onclick="game_click('{{list[i].details.id}}')">
                <input type="button" value="进入">
            </a>
        </div>
    </li>
    <%}%>
</script>
<script id="tp5" type="text/html">
    <% for(var i=0;i< list2.length;i++){%>
    <div class="package_detail">
        <a href="/pc/gift_detail/1887"> </a>
        <div class="pg_cont">
            <a href="/pc/gift_detail/1887">
            <div class="pg_title"><%= list2[i].name%></div>
            <div class="pg_number"><span>剩余：</span>
                <div class="progress"><span class="sr_only"><%= list2[i].valid_ratio%>%</span>
                    <div class="progress_bar" style="width: 96%"></div>
                </div>
            </div>
            </a>
            <div class="pg_content"><span>礼包内容：<%= list2[i].content%></span></div>
            <div class="pg_time"><span>有限期：</span> <%= list2[i].effect_end_time%></div>
            <a href="javascript:;" onclick="receive(1887,10890)">
                <input type="button" class="receive_gifts" value="领取礼包">
            </a>
        </div>
    </div>
    <%}%>
</script>
<script id="tp6" type="text/html">
    <% for(var j=0;j< list3.length;j++){%>
    <div class="bottom_content">
        <a href="/pc/news/3183">
            <span class="dian">·&nbsp;</span>
            <span><%= list3[j].title%></span>
            <span class="time"><%= list3[j].post_time%></span>
        </a>
    </div>
    <%}%>
</script>

<script src="../../../pcStatic/js/data/gamelist/gifts.js"></script>
<script src="../../../pcStatic/js/data/colours_drawing/news_list.js"></script>
<script src="../../../pcStatic/js/data/colours_drawing/game_detail.js"></script>

<script src="../../../pcStatic/js/template.js"></script>
<script>
    console.log(getgmdetail());
    //数据渲染
    var sdata = [];
    var list = [];
    var list2 = [];
    var list3=[];
    var serverdata = getgmdetail().data.details;
    var abl = getgmdetail().data.details.albums;
    var gf = gift().data.gifts;
    var newl=getnewlist().data.news;
    sdata["serverdata"] = serverdata, abl;
    list[0] = serverdata;
    list[1] = serverdata;
    list[2] = serverdata;
    list[3] = serverdata;

    list2[0] = gf;
    list2[1] = gf;
    list2[2] = gf;

    list3[0]=newl;
    list3[1]=newl;
    list3[2]=newl;
    list3[3]=newl;
    list3[4]=newl;
    list3[5]=newl;

    console.log(list);
    console.log(list2);
    console.log(list3);
    var tp1 = $("#tp1").html();
    var tppage = template(tp1, sdata);
    $("#gameDetail_img").html(tppage);

    var tp2 = $("#tp2").html();
    var tpage2 = template(tp2, sdata);
    $("#game_id").html(tpage2);

    var tp3 = $("#tp3").html();
    var tpage3 = template(tp3, sdata);
    $("#game_text").html(tpage3);

    var tp4 = $("#tp4").html();
    var tpage4 = template(tp4, list);
    $("#hot_recommend").html(tpage4);

    var tp5 = $("#tp5").html();
    var tpage5 = template(tp5, list2);
    $("#game_package").html(tpage5);

    var tp6 = $("#tp6").html();
    var tpage6 = template(tp6, list3);
    $("#game_news").html(tpage6);

    // 生成二维码
    $('#qr_code').qrcode({
        render: "canvas",
        width: 100,
        height: 100,
        text: sdata["serverdata"]['game_play_url']
    });
    console.log(gift());
    //面板切换
    $(function () {

        gamelit(type=1,5);

        function gamelit(type=1,page){
        $('.announcement_top a').click(function () {
            $(this).addClass('on');
            $(this).siblings().removeClass('on');
            var type_name = $(this).html(), type = '';
            page = $('#game_news div.bottom_content').length;
            console.log(type_name,page);
//未判断
            if (type_name == '公告') {
                $('#game_news').html(tpage6);
                console.log(type);
                type = 1;
            } else if (type_name == '活动') {
                $('#game_news').html(tpage6);
                type = 2;
            } else if (type_name == '攻略') {
                $('#game_news').html(tpage6);
                type = 3;
            }
            return type;
        });}

    });
</script>

<!--底部-->
<div id="bottom">
    <div class="content">
        <div class="bottom_info">
            <p><a href="/pc">关于我们</a> | <a href="/pc">商务合作</a> |
                <a href="/pc">家长监护</a> | <a href="/pc">联系我们</a> |
                <a href="" target="_blank">开放平台</a>
            </p>
            <p><a href="http://www.miitbeian.gov.cn/" target="_blank">闽ICP备17007102号-3</a>
                <a href="http://www.4177.com/download/lyy-www.jpg" target="_blank">闽网文〔2017〕8588-222号</a></p>
            <p>© 2012-2019 &nbsp;4177.com All rights reserved &nbsp;&nbsp; 微信公众号：4177游戏</p>
            <p>抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益闹 沉迷游戏伤身 合理安排时间 享受健康生活</p>
            <div class="qr_code">
                <div>
                    <span id="DownloadBox"></span><br>
                    <span>扫一扫，下载盒子</span>
                </div>
                <div>
                    <img src="../../../pcStatic/images/gzh.png" alt=""><br>
                    <span>扫一扫，关注公众号</span>
                </div>
            </div>
        </div>

    </div>
</div>
<!--右侧栏二维码-->
<a href="javascript:;" class="app_download" title="扫一扫，下载APP">
    <img src="../../../pcStatic/images/appDownload.png" alt="">
</a>
<!--返回顶部按钮-->
<a href="javascript:;" onclick="pageScroll()" class="page_top" title="返回顶部">
    <img src="../../../pcStatic/images/arrowup.png" alt="">
</a>
<script type="text/javascript">
    function pageScroll() {
        window.scrollBy(0, -100);
        var scrolldelay = setTimeout('pageScroll()', 10);
        var sTop = document.documentElement.scrollTop + document.body.scrollTop;
        if (sTop === 0) clearTimeout(scrolldelay);
    }

    //jq 生成二维码
    $('#DownloadBox').qrcode({
        render: "canvas",
        width: 90,
        height: 90,
        text: 'http://www.4177.com/follow'
    });

</script>
</body>
</html>